#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    display: inline;
    border: none;
    outline: none;
}

#general_search {
    background-color: #894d64;
    padding: 2px;
}

#general_search input, select {
    font-family: "Jost", sans-serif;
    background-color : #894d64;
    box-shadow: none;
    appearance: none;
    font-size: 27px;
}

#search_input {
    padding: 5px;
    background-image: none;
}

#submit {
    background: none;
}

#spacer {
    padding: 15px 5px 7px 0;
    background-color: #0D2945;
}

#search_by {
    background-color: #894d64;
    height: 40px;
    padding: 5px;
}

#search_by select {
    width: 105px;
    padding: 0 2px 0 0;
    text-align: right;
}

#search_by select::-ms-expand {
    display: none;
}

#search_by img {
    padding: 0 2px 0 0;
}
