@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    font-family: "Jost Medium", sans-serif;
    color: #FFFFFA;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    background: rgb(13,27,43);
    background: linear-gradient(270deg, rgba(13,27,43,1) 35%, rgba(13,41,69,1) 100%);
}

.btn-nav {
    padding: 10px;
    color: #894d64;
    display: block;
}

.btn-nav:hover {
    color: #FFFFFA;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#body {
    flex-grow: 1;
    display: flex;
}

#content {
    margin-top: 70px;
    flex-grow: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}

#sidebar {
    width: 230px;
    display: flex;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

#sidebar-content {
    position: fixed;
    float: right;
    right: 20px;
    top: 90px;
    bottom: 20px;
    width: 210px;
    background: #314159;
    display: flex;
    flex-direction: column;
}

.centered-h {
    display: flex;
    justify-content: center;
}

.letter {
    padding-right: 5px;
    padding-left: 5px;
}

.letter:hover {
    color: #506B90;
}

.row {
    display: flex;
}

.row-item {
    display: inline;
    width: 200px;
}

h2 {
    text-align: center;
    padding: 20px;
}

#alphabet-selector {
    alignment: center;
}

#msg {
    text-align: center;
}

.genre {
    background: #314159;
    text-align: center;
    font-size: 20px;
    color: #FFFFFA;
}

.genre:hover {
    color: #894d64;
}

.v-separator {
    padding: 0 5px 0 5px;
    color: #0D2945;
}

.h-separator {
    padding: 5px 0 5px 0;
    color: #0D2945;
}

.credential-container {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credential-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #894d64;
    padding: 10px;
    width: 350px;
}

ul {
    list-style-type: none;
}

#auth-errors {
    background-color: #894d64;
    padding: 10px;
    width: 350px;
}

.auth-error {
    font-family: Jost, sans-serif;
    font-size: 15px;
    width: 350px;
    text-align: center;
}

#auth-sep {
    padding: 10px;
}

#register-link {
    text-decoration: underline;
}

#cred-form {

}

.form-item {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.form-item input {
    font-size: 20px;
    background-color : #314159;
    box-shadow: none;
    appearance: none;
    padding: 4px;
}

#cred-title {
    text-align: center;
    padding: 10px;
}