{% extends 'layout.html' %} {% block content %}
<div class="centered-h credential-container">
    <div class="credential-form">
        <h1 id="cred-title">{{ form_type }}</h1>

        <form  id="cred-form" method="post" action="{{ handler_url }}">
            {{ form.csrf_token }}

            <div class="form-item">
                {{ form.username }}
            </div>
            <div class="form-item">
                {{ form.password }}
            </div>
            <div class="form-item">
            {{ form.submit }}
            </div>
        </form>
    </div>

    <div id="auth-sep"></div>

    {% if form.username.errors or errors['username'] is not none or form.password.errors or errors['password'] is not none %}
    <div id="auth-errors">
        <ul>
            {% if errors['username'] is not none %}
                <li class="auth-error">
                    <a id="register-link" href="{{ url_for('auth_bp.register') }}">{{ errors['username'] }}</a>
                </li>
            {% endif %}
            {% for error in form.username.errors %}
                <li class="auth-error">
                    {{ error }}
                </li>
            {% endfor %}

            {% if errors['password'] is not none %}
                <li class="auth-error">
                    {{ errors['password'] }}
                </li>
            {% endif %}
            {% for error in form.password.errors %}
                <li class="auth-error">
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock %}